name: "Call webhook"


on:
  workflow_call:
    inputs:
      ENVIRONMENT:
        required: false
        type: string
        default: integration
      URL:
        required: true
        type: string

permissions:
  id-token: write
  contents: read
  actions: write

jobs:
  build:
    name: Call webhook
    runs-on: ubuntu-latest
    env:
          BRANCH: ${{ github.ref }}
    steps:
      - name: Skip Duplicate Actions
        uses: fkirc/skip-duplicate-actions@v5.2.0
        with:
          concurrent_skipping: "same_content"
          cancel_others: "true"
          
      - name: Check out code
        uses: actions/checkout@v3
      
      # Check the requests here:
      # https://webhook.site/#!/a4328475-c2fe-463a-9478-2c9ceafd7392/77576362-12c3-4d64-8708-4b8806b050e5/1
      - name: Curl to webhook
        run: >-
          first_sha=$(git log --pretty=short|grep commit |awk 'END {print $2}');

          curl "${{inputs.URL}}"
          -d "{
            \"deployment\": {
              \"repo_name\": \"${{github.event.repository.name }}\",
              \"environment\": \"${{inputs.ENVIRONMENT}}\",
              \"branch_name\":\"${GITHUB_REF##*/}\",
              \"commit_shas\": {
                \"first_sha\":\"${first_sha}\",
                \"last_sha\": \"${{github.sha}}\"
              }
            }
          }"

############################### HOW TO CALL ##############################################
  # jira_markers:
  #   needs: build
  #   name: Check for Jira tickets
  #   permissions:
  #     id-token: write
  #     contents: read
  #     actions: write
  #   uses: freeletics/actions/.github/workflows/call-webhook.yaml@main
  #   with:
  #     URL: "https://webhook.site/a4328475-c2fe-463a-9478-2c9ceafd7392"
##########################################################################################
