name: "Released"

on:
  workflow_call:
    inputs:
      prefix:
        required: false
        type: string

permissions:
  id-token: write
  contents: read
  actions: write

jobs:
  build:
    name: Build Docker image
    runs-on: ubuntu-latest
    steps:
      ##### Git versions ####
      - name: Check out code
        uses: actions/checkout@v4
        if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
        with:
          fetch-depth: 0
          repository: 'freeletics/releases'
          path: 'releases'
          ref: 'main'
          token: ${{ secrets.JENKINS_PAT_FLUXCD }}

      - name: Create versions.yaml with input prefix
        uses: mikefarah/yq@v4.44.3
        if: github.event_name == 'push' && contains(github.ref, 'refs/tags/') && inputs.prefix != ''
        with:
          cmd: yq -i e '.${{ github.event.repository.name }} = "${{ inputs.prefix }}-${{ github.ref_name }}"' releases/versions.yaml
          
      - name: Create versions.yaml
        uses: mikefarah/yq@v4.44.3
        if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
        with:
          cmd: yq -i e '.${{ github.event.repository.name }} = "${{ github.ref_name }}"' releases/versions.yaml

      - name: Push versions.yaml back
        if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
        run: |
          cd releases
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add versions.yaml
          git commit -m "${{ github.event.repository.name }} BUMP"
          git push
