name: "Web and blog Build with Docker Kaniko"

on:
  workflow_call:
    inputs:
      APP_ENV:
        required: false
        type: string
        default: "staging"
      DOCKERFILE:
        required: false
        type: string
        default: "Dockerfile"

permissions:
  id-token: write
  contents: read
  actions: write

jobs:
  build:
    env:
      APP_ENV: "${{ contains(github.ref, 'refs/tags/') && 'production' || inputs.APP_ENV }}"
    outputs:
      IMAGE_TAG: ${{ steps.IMAGE_TAG.outputs.IMAGE_TAG }}
    name: Build Docker image
    runs-on: ubuntu-latest
    steps:
################################# PRE STEPS ###############################################
      - name: Skip Duplicate Actions
        uses: fkirc/skip-duplicate-actions@v5.2.0
        with:
          concurrent_skipping: "same_content"
          cancel_others: "true"
          
      - name: Check out code
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '18.12.1'

      - name: Login to NPM 
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" >> .npmrc

      - name: 'Cache yarn modules'
        if: github.event.repository.name == 'web-service-main'
        uses: actions/cache@v3
        with:
          path: |
            node_modules
            public
            .cache
          key: ${{ runner.os }}-${{ env.APP_ENV }}-build-${{ github.event.repository.name }}-${{ github.run_id }}
          restore-keys: |
            ${{ runner.os }}-${{ env.APP_ENV }}-build-${{ github.event.repository.name }}-
##########################################################################################

################################## WEB ###################################################
      - name: '[WEB] Install deps'
        if: github.event.repository.name == 'web-service-main'
        run: yarn install
##########################################################################################

################################## WEB BLOG ##############################################
      - name: '[WEB BLOG] Install deps'
        if: github.event.repository.name == 'web-blog'
        run: |
          yarn install --production=false
##########################################################################################

################ COMMON BUILD STEP ################
      - name: Build
        run: yarn build
        env:
          NODE_ENV: "production"
          CI: false
          APP_ENV: "${{ env.APP_ENV }}"
          GATSBY_APP_ENV: "${{ env.APP_ENV }}"
###################################################

################################## WEB BLOG ##############################################
      - name: '[WEB BLOG] Compress Artifacts'
        if: github.event.repository.name == 'web-blog'
        run: |
          cp Docker/sitemap-index-blog.xml public/
          tar -czf public.tar.gz public
##########################################################################################

################################## WEB ###################################################
      - name: '[WEB] Compress Artifacts'
        if: github.event.repository.name == 'web-service-main'
        run: |
          tar -czf public.tar.gz dist
##########################################################################################

##########################################################################################
################################## COMMON STEPS ##########################################
      - name: Archive production artifacts
        uses: actions/upload-artifact@v3
        with:
          name: public
          path: |
            public.tar.gz
          retention-days: 5

  docker:
    needs: build
    if: contains(github.ref, 'refs/tags/') || contains(github.ref, 'refs/pull/')
    permissions:
      id-token: write
      contents: read
      actions: write
    uses: freeletics/actions/.github/workflows/docker.yaml@main #this has to be public
    with:
      ARTIFACTS_NAME: "public"
      ARTIFACTS_COMPRESSED: true
      DOCKERFILE: "Dockerfile.gha"
      AWS_REGION: "eu-west-1"
      AWS_ACCOUNT_ID: "524690225562"
    secrets: inherit

  integration:
    if: contains(github.ref, 'refs/heads/') && inputs.APP_ENV != 'qa'
    needs: build
    permissions:
      id-token: write
      contents: read
      actions: write
    uses: freeletics/actions/.github/workflows/gha-auto-deploy-integration.yaml@main
    with:
      ARTIFACTS_NAME: "public"
      ARTIFACTS_COMPRESSED: true
      DOCKERFILE: "Dockerfile.gha"
      AWS_REGION: "eu-west-1"
      AWS_ACCOUNT_ID: "524690225562"
    secrets: inherit
    
  qa:
    if: contains(github.ref, 'refs/heads/') && inputs.APP_ENV == 'qa'
    needs: build
    permissions:
      id-token: write
      contents: read
      actions: write
    uses: freeletics/actions/.github/workflows/web-qa.yaml@main
    with:
      ARTIFACTS_NAME: "public"
      ARTIFACTS_COMPRESSED: true
      DOCKERFILE: "Dockerfile.gha"
      AWS_REGION: "eu-west-1"
      AWS_ACCOUNT_ID: "524690225562"
    secrets: inherit
##########################################################################################
##########################################################################################
